<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create project</title>
</head>
<body>

<form th:method="POST" th:action="@{/project}" th:object="${project}">
  <label for="name">Enter project name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>

  <label for="client_id">Enter client id: </label>
  <input type="text" th:field="*{client.id}" id="client_id"/>
  <br/>
  <input type="submit" value="Create!"/>
</form>

</body>
</html>